*{
    box-sizing: border-box;
}
body{
    background-color: #434343;
    font-family: cursive; 
}
.container{
    margin: auto ;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    gap: 20px;
}
.container form{
    display: flex;
    gap: 10px;
    width: 100%;
    position: relative;
    height: 35px;
}
.container form label{
    position: absolute;
    left: 10px;
    bottom: 7px;
    transition:0.3s cubic-bezier(0.23, 1, 0.320, 1);
    font-size: 17px;
}
.container form #input{
    padding: 5px;
    width: 80%;
    background-color: #fff;
    border-radius: 3px;
}
.container form #input:focus{
    outline: none;
    border: 2px solid #34b834;
}
.container #input:focus ~label{
    background-color: #fff;
    padding: 3px;
    transform: translate(-10px,-50%) scale(0.8);
    bottom: 10px;
    color: #34b834;
}
.container form #submit{
    width: 20%;
    background-color: #34b834;
    border: none;
    border-radius: 3px;
    color: #fff;
}
.container form #submit:hover{
    background-color: #2d9f2d;
}
.container .task{
    width: 100%;
    height: auto-fit;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color:#34b834 ;
}
